.grid {
    display: grid;
    grid-template-columns: 20% calc(80% - var(--gap));
    grid-template-rows: 40px 1fr;
    column-gap: var(--gap);
    row-gap: var(--gap);
    height: 100vh;
    padding:var(--gap);
    box-sizing: border-box;
    transition: all 0.2s ease;
}

.grid[data-panel-open="false"] {
    grid-template-columns: 0px 1fr;
    column-gap: 0;
}

.leftColumnHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightColumnHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftColumn {

}

.rightColumn {
    display: grid;
    grid-template-rows: 3fr auto auto;
    overflow: hidden;
}

.darkThemeButton {
    padding-left: 20px;
}

.sketchName {
    max-width: 300px;
}

.layoutResize {
    display: flex;
    justify-content: center;
    padding: 5px;
}

