.grid {
    display: grid;
    grid-template-columns: min(35%, 280px) 1fr;
    grid-template-rows: 40px 1fr;
    row-gap: var(--gap);
    height: 100vh;
    padding: calc(var(--gap) * 2) 0 0 var(--gap);
    box-sizing: border-box;
    transition: all 0.2s ease;
}

.grid[data-panel-open="false"] {
    grid-template-columns: 0px 1fr;
    column-gap: 0;
}

.leftColumnHeader {
    display: flex;
    align-items: flex-end;
}

.rightColumnHeader {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 10px;
}

.leftColumn {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: var(--gap) 0;
}

.rightColumn {
    display: grid;
    grid-template-rows: 3fr auto auto;
    overflow: hidden;
    position: relative;
}

.sketchName {
    max-width: 50vw;
}

.layoutResize {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.subheader {
    font-weight: bold;
    opacity: 0.25;
}

.logo {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}

