
#root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.App {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
}

.logo {
    width: 35px;
    height: 35px;
}

.grid {
    display: grid;
    grid-template-columns: max(300px, 20%) 1fr;
    /*grid-template-columns: max(300px, 1fr) 2fr;*/
    grid-template-rows: 40px 1fr;
    column-gap: var(--gap);
    row-gap: calc(var(--gap) / 2);
    height: 100vh;
    padding: var(--gap);
    box-sizing: border-box;
}
