:root {
    --gap: 10px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

:root, .light, .light-theme {
    --blue-1: #f0f2f4;
    --blue-2: #e9eef3;
    --blue-3: #dae7f2;
    --blue-4: #cae0f3;
    --blue-5: #b7d6f0;
    --blue-6: #a2c9e9;
    --blue-7: #86b7e1;
    --blue-8: #5ba0d8;
    --blue-9: #148cd7;
    --blue-10: #007fc9;
    --blue-11: #0069b2;
    --blue-12: #083757;

    --blue-a1: #2176cb06;
    --blue-a2: #096bcd0d;
    --blue-a3: #087adb1d;
    --blue-a4: #027fea2d;
    --blue-a5: #017be141;
    --blue-a6: #0275d257;
    --blue-a7: #016cc974;
    --blue-a8: #026fc8a1;
    --blue-a9: #0183d5eb;
    --blue-a10: #007fc9;
    --blue-a11: #0069b2;
    --blue-a12: #003152f7;

    --blue-contrast: #fff;
    --blue-surface: #e6ecf3cc;
    --blue-indicator: #148cd7;
    --blue-track: #148cd7;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
        :root, .light, .light-theme {
            --blue-1: oklch(96% 0.0032 244.4);
            --blue-2: oklch(94.6% 0.0085 244.4);
            --blue-3: oklch(92.2% 0.0202 244.4);
            --blue-4: oklch(89.6% 0.0352 244.4);
            --blue-5: oklch(86.2% 0.0488 244.4);
            --blue-6: oklch(81.8% 0.0619 244.4);
            --blue-7: oklch(76.1% 0.079 244.4);
            --blue-8: oklch(68.4% 0.1082 244.4);
            --blue-9: oklch(61.7% 0.1479 244.4);
            --blue-10: oklch(57.5% 0.1479 244.4);
            --blue-11: oklch(50.5% 0.1479 244.4);
            --blue-12: oklch(32.6% 0.0742 244.4);

            --blue-a1: color(display-p3 0.0275 0.4039 0.7765 / 0.021);
            --blue-a2: color(display-p3 0.0039 0.3529 0.702 / 0.045);
            --blue-a3: color(display-p3 0.0118 0.4314 0.8118 / 0.103);
            --blue-a4: color(display-p3 0.0078 0.4235 0.8667 / 0.16);
            --blue-a5: color(display-p3 0.0039 0.4157 0.8275 / 0.229);
            --blue-a6: color(display-p3 0.0039 0.3882 0.7725 / 0.307);
            --blue-a7: color(display-p3 0.0039 0.3647 0.7333 / 0.413);
            --blue-a8: color(display-p3 0 0.3569 0.7255 / 0.564);
            --blue-a9: color(display-p3 0 0.3882 0.7686 / 0.735);
            --blue-a10: color(display-p3 0 0.3529 0.7098 / 0.776);
            --blue-a11: color(display-p3 0 0.2824 0.6157 / 0.821);
            --blue-a12: color(display-p3 0 0.1333 0.2627 / 0.907);

            --blue-contrast: #fff;
            --blue-surface: color(display-p3 0.9059 0.9255 0.9451 / 0.8);
            --blue-indicator: oklch(61.7% 0.1479 244.4);
            --blue-track: oklch(61.7% 0.1479 244.4);
        }
    }
}

.dark, .dark-theme {
    --blue-1: #06121d;
    --blue-2: #0a1a27;
    --blue-3: #002947;
    --blue-4: #003561;
    --blue-5: #004275;
    --blue-6: #005188;
    --blue-7: #0062a0;
    --blue-8: #0077c0;
    --blue-9: #148cd7;
    --blue-10: #007fc9;
    --blue-11: #62bfff;
    --blue-12: #c4e9ff;

    --blue-a1: #0025fd0d;
    --blue-a2: #0071fb18;
    --blue-a3: #007bff3a;
    --blue-a4: #007cff56;
    --blue-a5: #0085fd6c;
    --blue-a6: #0091ff80;
    --blue-a7: #0097fe9a;
    --blue-a8: #009cffbc;
    --blue-a9: #14a4fed5;
    --blue-a10: #009ffec6;
    --blue-a11: #62bfff;
    --blue-a12: #c4e9ff;

    --blue-contrast: #fff;
    --blue-surface: #04233d80;
    --blue-indicator: #148cd7;
    --blue-track: #148cd7;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
        .dark, .dark-theme {
            --blue-1: oklch(17.8% 0.029 244.4);
            --blue-2: oklch(21.2% 0.0339 244.4);
            --blue-3: oklch(27.2% 0.0711 244.4);
            --blue-4: oklch(31.9% 0.1008 244.4);
            --blue-5: oklch(36.8% 0.1109 244.4);
            --blue-6: oklch(42% 0.1176 244.4);
            --blue-7: oklch(48% 0.1283 244.4);
            --blue-8: oklch(54.8% 0.1479 244.4);
            --blue-9: oklch(61.7% 0.1479 244.4);
            --blue-10: oklch(57.5% 0.1479 244.4);
            --blue-11: oklch(77.8% 0.1367 244.4);
            --blue-12: oklch(91.8% 0.0587 244.4);

            --blue-a1: color(display-p3 0 0.1529 0.9882 / 0.047);
            --blue-a2: color(display-p3 0 0.4667 0.9922 / 0.089);
            --blue-a3: color(display-p3 0 0.4824 1 / 0.219);
            --blue-a4: color(display-p3 0.0941 0.4941 1 / 0.324);
            --blue-a5: color(display-p3 0.1451 0.5333 1 / 0.404);
            --blue-a6: color(display-p3 0.1882 0.5765 1 / 0.484);
            --blue-a7: color(display-p3 0.2235 0.6039 1 / 0.58);
            --blue-a8: color(display-p3 0.2549 0.6196 1 / 0.711);
            --blue-a9: color(display-p3 0.302 0.6549 1 / 0.807);
            --blue-a10: color(display-p3 0.2667 0.6353 1 / 0.748);
            --blue-a11: color(display-p3 0.4902 0.7608 1 / 0.975);
            --blue-a12: color(display-p3 0.8039 0.9176 1 / 0.992);

            --blue-contrast: #fff;
            --blue-surface: color(display-p3 0.0431 0.1333 0.2275 / 0.5);
            --blue-indicator: oklch(61.7% 0.1479 244.4);
            --blue-track: oklch(61.7% 0.1479 244.4);
        }
    }
}

:root, .light, .light-theme, .radix-themes {
    --color-background-base: #F5F5F5;
    --color-background: #F5F5F5;
}

.dark, .dark-theme, :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
    --color-background-base: #111111;
    --color-background: #111111;
    --color-background: linear-gradient(45deg, #111111 50%, var(--blue-a2) 100%);
}

.radix-themes {
}

.radix-themes:where([data-has-background='true']) {
    background: var(--color-background);
}

html, body {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
}

#root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

hr {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: none;
    width: 100%;
}

button {
    cursor: pointer !important;
}

/* Custom title bar styles */
.window-titlebar {
    -webkit-app-region: drag;
    height: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/* Custom window control buttons */
.window-controls {
    display: flex;
}

.window-control-button {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-color: #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.window-control-button:hover {
    background-color: #999;
}

/* Prevent dragging on buttons */
.window-control-button {
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #737373;
}

