:root {
    --gap: 20px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

:root, .light, .light-theme, .radix-themes {
    --color-background: linear-gradient(45deg, #F1F2F4 0%, #d7d7d9 100%);
}

.dark, .dark-theme, :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
    --color-background: linear-gradient(45deg, #2e3235 0%, #000000 100%);
}

.radix-themes:where([data-has-background='true']) {
    background: var(--color-background);
}

html, body {
    margin: 0;
    /*width: 100vw;*/
    /*height: 100vh;*/
    font-family: sans-serif;
    font-size: 12px;
}

hr {
    width: 100%;
}

/* Custom title bar styles */
.window-titlebar {
    -webkit-app-region: drag;
    height: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/* Custom window control buttons */
.window-controls {
    display: flex;
}

.window-control-button {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-color: #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.window-control-button:hover {
    background-color: #999;
}

/* Prevent dragging on buttons */
.window-control-button {
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #a6a6a6;
}

