:root {
    --gap: 10px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

:root, .light, .light-theme {
    --blue-1: #e7e8ea;
    --blue-2: #dfe3eb;
    --blue-3: #d2dbea;
    --blue-4: #c1d2ef;
    --blue-5: #aec7f0;
    --blue-6: #98b8ef;
    --blue-7: #7da5e8;
    --blue-8: #578be3;
    --blue-9: #0368ff;
    --blue-10: #0059ef;
    --blue-11: #0040cf;
    --blue-12: #0a2e6c;

    --blue-a1: #0d96cf09;
    --blue-a2: #0d7aec12;
    --blue-a3: #0168e31f;
    --blue-a4: #096eff33;
    --blue-a5: #005cff40;
    --blue-a6: #0000ff33;
    --blue-a7: #0158e47a;
    --blue-a8: #0255dea3;
    --blue-a9: #0368ff;
    --blue-a10: #0000ff33;
    --blue-a11: #0040cf;
    --blue-a12: #012767f5;

    --blue-contrast: #fff;
    --blue-surface: #dbe1ebcc;
    --blue-indicator: #0368ff;
    --blue-track: #0368ff;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
        :root, .light, .light-theme {
            --blue-1: oklch(93.2% 0.0029 260.7);
            --blue-2: oklch(91.6% 0.0109 260.7);
            --blue-3: oklch(88.9% 0.0227 260.7);
            --blue-4: oklch(86.1% 0.0436 260.7);
            --blue-5: oklch(82.5% 0.0647 260.7);
            --blue-6: oklch(77.9% 0.0862 260.7);
            --blue-7: oklch(72% 0.1081 260.7);
            --blue-8: oklch(64.1% 0.1448 260.7);
            --blue-9: oklch(56.7% 0.2383 260.7);
            --blue-10: oklch(52.3% 0.2383 260.7);
            --blue-11: oklch(44.6% 0.2284 260.7);
            --blue-12: oklch(31.8% 0.1154 260.7);

            --blue-a1: color(display-p3 0.0196 0.5333 0.7922 / 0.03);
            --blue-a2: color(display-p3 0.0039 0.3922 0.8588 / 0.059);
            --blue-a3: color(display-p3 0.0078 0.3529 0.851 / 0.11);
            --blue-a4: color(display-p3 0 0 1 / 0.05);
            --blue-a5: color(display-p3 0 0 1 / 0.05);
            --blue-a6: color(display-p3 0.0039 0.3176 0.9098 / 0.337);
            --blue-a7: color(display-p3 0.0039 0.2941 0.851 / 0.442);
            --blue-a8: color(display-p3 0 0.2706 0.8275 / 0.585);
            --blue-a9: color(display-p3 0 0 1 / 0.55);
            --blue-a10: color(display-p3 0 0.2431 0.902 / 0.849);
            --blue-a11: color(display-p3 0 0.1725 0.7647 / 0.9);
            --blue-a12: color(display-p3 0 0.102 0.3569 / 0.912);

            --blue-contrast: #fff;
            --blue-surface: color(display-p3 0.8627 0.8824 0.9176 / 0.8);
            --blue-indicator: oklch(56.7% 0.2383 260.7);
            --blue-track: oklch(56.7% 0.2383 260.7);
        }
    }
}

.dark, .dark-theme {
    --blue-1: #0a1220;
    --blue-2: #0e1829;
    --blue-3: #0b2450;
    --blue-4: #092e6c;
    --blue-5: #0e3880;
    --blue-6: #174491;
    --blue-7: #1e50a7;
    --blue-8: #235dc3;
    --blue-9: #0368ff;
    --blue-10: #0059ef;
    --blue-11: #84b6ff;
    --blue-12: #cee3ff;

    --blue-a1: #0012f210;
    --blue-a2: #0050fd19;
    --blue-a3: #0057fe43;
    --blue-a4: #005cff61;
    --blue-a5: #0a63fd77;
    --blue-a6: #1c70ff89;
    --blue-a7: #2574fea1;
    --blue-a8: #2876febf;
    --blue-a9: #0368ff;
    --blue-a10: #005effee;
    --blue-a11: #84b6ff;
    --blue-a12: #cee3ff;

    --blue-contrast: #fff;
    --blue-surface: #0b1e4080;
    --blue-indicator: #0368ff;
    --blue-track: #0368ff;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
        .dark, .dark-theme {
            --blue-1: oklch(18.2% 0.0308 260.7);
            --blue-2: oklch(20.7% 0.0376 260.7);
            --blue-3: oklch(27.1% 0.0864 260.7);
            --blue-4: oklch(31.9% 0.1162 260.7);
            --blue-5: oklch(36.2% 0.1303 260.7);
            --blue-6: oklch(40.4% 0.1378 260.7);
            --blue-7: oklch(45% 0.1499 260.7);
            --blue-8: oklch(50.3% 0.171 260.7);
            --blue-9: oklch(56.7% 0.2383 260.7);
            --blue-10: oklch(52.3% 0.2383 260.7);
            --blue-11: oklch(77.7% 0.1537 260.7);
            --blue-12: oklch(91.1% 0.0533 260.7);

            --blue-a1: color(display-p3 0 0.0745 1 / 0.055);
            --blue-a2: color(display-p3 0 0.3255 1 / 0.093);
            --blue-a3: color(display-p3 0.0706 0.3373 1 / 0.249);
            --blue-a4: color(display-p3 0.0941 0.3647 1 / 0.363);
            --blue-a5: color(display-p3 0.1451 0.4 1 / 0.444);
            --blue-a6: color(display-p3 0.2078 0.4431 1 / 0.515);
            --blue-a7: color(display-p3 0.2431 0.4667 1 / 0.604);
            --blue-a8: color(display-p3 0.251 0.4745 1 / 0.718);
            --blue-a9: color(display-p3 0.1765 0.4118 0.9961 / 0.963);
            --blue-a10: color(display-p3 0.149 0.3765 1 / 0.895);
            --blue-a11: color(display-p3 0.5765 0.7294 1 / 0.975);
            --blue-a12: color(display-p3 0.8353 0.898 1 / 0.988);

            --blue-contrast: #fff;
            --blue-surface: color(display-p3 0.0549 0.1098 0.2353 / 0.5);
            --blue-indicator: oklch(56.7% 0.2383 260.7);
            --blue-track: oklch(56.7% 0.2383 260.7);
        }
    }
}

:root, .light, .light-theme, .radix-themes {
    --color-background-base: #F5F5F5;
    --color-background: #F5F5F5;
}

.dark, .dark-theme, :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
    --color-background-base: #141414;
    --color-background: #141414;
    --color-background: linear-gradient(45deg, #141414 50%, var(--blue-a2) 100%);
}

.radix-themes {
    color: var(--color-text);
}

.radix-themes:where([data-has-background='true']) {
    background: var(--color-background);
}

html, body {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
}

#root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

hr {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: none;
    width: 100%;
}

button {
    cursor: pointer !important;
}

/* Custom title bar styles */
.window-titlebar {
    -webkit-app-region: drag;
    height: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/* Custom window control buttons */
.window-controls {
    display: flex;
}

.window-control-button {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-color: #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.window-control-button:hover {
    background-color: #999;
}

/* Prevent dragging on buttons */
.window-control-button {
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #737373;
}

