.Root {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    user-select: none;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: var(--black-a3);
    border: 2px solid black;
}

.Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.Fallback {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}

.subheader {
    font-weight: bold;
    opacity: 0.25;
}
