.layout {
    /*display: grid;*/
    /*grid-template-rows: 75vh 3px auto; !* 75vh max height *!*/
}

.layout > * {
    height: auto;
}


.layout > *:nth-child(1) {
    /*margin: 10px 20px;*/
    overflow: hidden;
    border-radius: var(--border-radius);
}

.layout > *:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.draggableIndicator {
    width: 50px;
    height: 3px;
    border-radius: var(--border-radius);
    background: white;
    text-align: center;
    cursor: pointer;
}

.layout > *:nth-child(3) {
    /*margin: 10px 20px 20px 20px;*/
}


