.playButton {
    background-color: var(--accent-9);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 40px;
    cursor: pointer;
}

.playButton:hover {
    transition: all 1s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: rotate(360deg);
}
