.playButton {
    background-color: var(--accent-9);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 40px;
    transition: all 0.3s ease;
}

.playButton:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.playButton:before {
    content: "";
    border-style: solid;
    border-width: 8px 0 8px 15px;
    border-color: transparent transparent transparent white;
    vertical-align: middle;
    transition: all 0.3s ease;
    margin-left: 5px;
}

.playButton:hover:before {
    border-color: transparent transparent transparent white;
}

.playButton[data-is-loading="true"] {
    cursor: not-allowed;
}

.playButton[data-is-loading="true"]:before {
    border-color: #333;
    margin-left: 0;
}

.playButton[data-is-loading="true"]:hover:before {
    border-color: white;
}

.playButtonLoading {
    background-color: white;
    border: none;
    border-radius: 50%;
    color: #333;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    cursor: not-allowed;
}



.spinner,
.spinner div,
.spinner div:after {
    box-sizing: border-box;
}
.spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: scale(0.5) translate(50%, 50%);
    color: white;
}
.spinner div {
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7.2px;
    height: 7.2px;
    border-radius: 50%;
    background: currentColor;
    margin: -3.6px 0 0 -3.6px;
}
.spinner div:nth-child(1) {
    animation-delay: -0.036s;
}
.spinner div:nth-child(1):after {
    top: 62.62742px;
    left: 62.62742px;
}
.spinner div:nth-child(2) {
    animation-delay: -0.072s;
}
.spinner div:nth-child(2):after {
    top: 67.71281px;
    left: 56px;
}
.spinner div:nth-child(3) {
    animation-delay: -0.108s;
}
.spinner div:nth-child(3):after {
    top: 70.90963px;
    left: 48.28221px;
}
.spinner div:nth-child(4) {
    animation-delay: -0.144s;
}
.spinner div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.spinner div:nth-child(5) {
    animation-delay: -0.18s;
}
.spinner div:nth-child(5):after {
    top: 70.90963px;
    left: 31.71779px;
}
.spinner div:nth-child(6) {
    animation-delay: -0.216s;
}
.spinner div:nth-child(6):after {
    top: 67.71281px;
    left: 24px;
}
.spinner div:nth-child(7) {
    animation-delay: -0.252s;
}
.spinner div:nth-child(7):after {
    top: 62.62742px;
    left: 17.37258px;
}
.spinner div:nth-child(8) {
    animation-delay: -0.288s;
}
.spinner div:nth-child(8):after {
    top: 56px;
    left: 12.28719px;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

