.grid {
    display: grid;
    grid-template-columns: 20% calc(80% - var(--gap));
    grid-template-rows: 40px 1fr;
    column-gap: var(--gap);
    row-gap: var(--gap);
    height: 100vh;
    padding: calc(var(--gap) * 2) var(--gap) var(--gap);
    box-sizing: border-box;
    transition: all 0.2s ease;
}

.grid[data-panel-open="false"] {
    grid-template-columns: 0px 1fr;
    column-gap: 0;
}

.leftColumnHeader {
}

.rightColumnHeader {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.rightColumn {
    display: grid;
    grid-template-rows: 3fr auto auto;
    overflow: hidden;
    position: relative;
}

.sketchName {
    max-width: 50vw;
}

.layoutResize {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.connectionIndicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00be00;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.subheader {
    font-weight: bold;
    opacity: 0.25;
}
