.console[data-theme="light"] {
    background-color: #FAFAFA;
    color: #90A4AE;
}

.console[data-theme="dark"] {
    background-color: #2e3235;
    color: #bdbdbd;
}

.console {
    font-size: 0.8em;
    /*box-shadow: var(--box-shadow);*/
    border-radius: var(--radius-3);
    overflow: hidden;
    min-height: 5vh;
}

.output {
    padding: 5px;
    font-family: monospace;
}

.prompt {
    font-size: 1em;
    user-select: none;
    opacity: 0.5;
}
