.console[data-theme="light"] {
    background-color: #FAFAFA;
    color: #90A4AE;
}

.console[data-theme="dark"] {
    background-color: #2e3235;
    color: #bdbdbd;
}

.console {
    font-size: 0.8em;
    border-radius: var(--radius-3);
    min-height: 5vh;
    overflow: auto;
    box-shadow: var(--box-shadow);
    margin: 5px 10px 10px;
}

.output {
    padding: 5px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
}

.prompt {
    font-size: 1em;
    user-select: none;
    opacity: 0.5;
}

.error {
    color: #ff2e2e;
}
