.editor {
    background: white;
    position: relative;
    border-radius: var(--radius-3);
    overflow: hidden;
    /*box-shadow: var(--box-shadow);*/
}

.editor[data-is-loading='true'] {
    visibility: hidden;
}

.editor :global(.cm-editor) {
    height: 100%;
}

.editor :global(.ͼ1 .cm-ySelectionInfo) {
    font-size: 1em;
    font-family: inherit;
    opacity: 1;
}

.spinner {
    margin: 20px;
    position: absolute !important;
    top: 0;
    left: 50%;
}
