.sketches {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    position: relative;
    padding: 0 5px;
}

.sketchListWrapper {
    overflow-y: auto;
    max-height: 70vh;
    position: relative;
}

.sketchList {
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 0.9em;
    margin-right: 5px;
    padding-bottom: 10px;

}

.sketchList:not(:last-child) {
    border-bottom: 1px solid var(--mauve-6);
}

.sketchItem {
    cursor: pointer;
    padding: 5px;
    transition: all 0.2s ease;
    position: relative;
}

.sketchItem[data-active='true'] {
    background: rgba(255, 255, 255, 0.6);
    border-radius: var(--radius-3);
    color: #222222;
}

.sketchItem[data-is-connected='true']:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00be00;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}


.subheader {
    font-weight: bold;
    opacity: 0.25;
}

.error {
    font-size: 0.8em;
    text-align: center;
    opacity: 0.5;
}

.buttonWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
