.editor {
    background: white;
    position: relative;
    flex: 1;
    overflow: hidden;
    max-height: 65vh;
    border-radius: var(--radius-3);
    box-shadow: var(--box-shadow);
}

.editor :global(.cm-editor) {
    height: 100%;
}

.editor :global(.ͼ1 .cm-ySelectionInfo) {
    font-size: 1em;
    font-family: inherit;
    opacity: 1;
}
