.editorWrapper {
}

.editor {
    background: white;
    position: relative;
    /*flex: 1;*/
    overflow: hidden;
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-3);

    height: calc(65vh - 60px);
    margin-bottom: var(--gap);
}

.editor :global(.cm-editor) {
    height: 100%;
}

.editor :global(.Í¼1 .cm-ySelectionInfo) {
    font-size: 1em;
    font-family: inherit;
    opacity: 1;
}
