.editor {
    background: white;
    position: relative;
    border-radius: var(--radius-3);
    overflow: hidden;
    box-shadow: var(--shadow-3);
}

.editor :global(.cm-editor) {
    height: 100%;
}

.editor :global(.ͼ1 .cm-ySelectionInfo) {
    font-size: 1em;
    font-family: inherit;
    opacity: 1;
}
