.editor {
    background: white;
    position: relative;
    border-radius: var(--radius-3);
    overflow: hidden;
    box-shadow: var(--box-shadow);
    margin: 10px 10px 5px;
}

.editor :global(.cm-editor) {
    height: 100%;
}

.editor :global(.ͼ1 .cm-ySelectionInfo) {
    font-size: 1em;
    font-family: inherit;
    opacity: 1;
}

.spinner {
    position: absolute !important;
    top: 0;
    left: 50%;
}

.editor[data-is-collab='true'] {
    border: 5px solid var(--green-9);
}

.editor[data-is-collab='true']:before {
    content: 'Connected';
    position: absolute;
    top: 0;
    right: 0;
    background: var(--green-9);
    color: transparent;
    text-align: center;
    padding: 5px 10px;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 0 0 0 5px;
    z-index: 1;
}

.editor[data-is-collab='true'][data-is-loading='false']:after {
    content: 'Connected';
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    text-align: center;
    padding: 5px 10px;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 0 0 0 5px;
    z-index: 2;
    animation: blinking 1s 4;
}

@keyframes blinking {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.editor[data-is-loading='true']:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

.editor[data-theme="dark"][data-is-loading='true']:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
